  body {
      font-family: 'Segoe UI', sans-serif;
    }
    header {
      background-color: #f8f9fa;
      padding: 20px 0;
    }
    .navbar-nav .nav-link {
      font-size: 18px;
    }
    .gallery-img {
      cursor: pointer;
      transition: transform 0.2s;
    }
    .gallery-img:hover {
      transform: scale(1.05);
    }
	
  